<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>NSFW</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div class="chat">
    <div id="messages">
        {% with messages = get_flashed_messages() %}
        <p style="font-size: 30px;">ToxiGuard
            {% if messages %}
                {% for message in messages %}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red; font-size: 15px; ">{{ message }}</span>
                {% endfor %}
            {% endif %}
        </p>
        {% endwith %}
    </div>

    <form id="chat-form">
        <input type="text" name="text" size="92" autocomplete="off">
        <br><br>
        <input type="submit" value="Send">
    </form>

    <div id="output"></div>
</div>

<script>
    $(document).ready(function () {
        $('#chat-form').submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: '/',
                data: formData,
                success: function (response) {
                    if (response) {
                        $('#output').html('No hate speech detected.');
                    } else {
                        $('#output').html('Hate speech detected!');
                    }
                }
            });
        });
    });
</script>

</body>
</html>
